<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f4360ed6d5169b705e8dbe21b0695ace" />

        <activity
            android:name=".match.activity.MatchResultActivity"
            android:exported="false" />
        <activity
            android:name=".match.activity.MatchActivity"
            android:exported="false" />
        <activity
            android:name=".match.activity.MatchMainActivity"
            android:exported="false" />
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".user.ui.Login"
            android:exported="true">
            <!-- intent-filter 제거 -->
        </activity>

        <activity
            android:name=".user.ui.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".friend.ui.Befriend"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".friend.ui.FindUser"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".friend.ui.FindFriend"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="NATIVE_APP_KEY"
            android:value="f4360ed6d5169b705e8dbe21b0695ace" />

        <activity
            android:name=".global.KakaoInit" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="com.example.android" /> <!-- scheme 수정 -->
            </intent-filter>
        </activity>

        <activity
            android:name=".quiz.activity.QuizActivity"
            android:exported="true">
            <intent-filter>
                <!-- 앱의 진입점으로 설정하기 위한 LAUNCHER 인텐트 필터 -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".quiz.activity.QuizResultActivity"
            android:exported="true">
            <intent-filter>
                <!-- 앱의 진입점으로 설정하기 위한 LAUNCHER 인텐트 필터 -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>
</manifest>

